@use "../../sass/variables" as *;


.home__card {   
    
        button{
            color: $white !important;
            cursor: pointer;
            border-radius: 3px;
            border: 0;
        }
    }
